:root{
    --dark: #1e174f;
    --dark-x: #29416e;
    --light: #ffffff;
}

body{
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    color: var(--light);
}   

.bg-dark{
        background-color: var(--dark) !important ;
}
.bg-dark-x{
    background-color: var(--dark-x);
}

.form-control, .btn {
    min-height: 3.125rem;
    line-height: initial;
}

.img-fluid{
    width: 10rem;
    height: 8rem;
}

a#emailHelp {
    color: white;
  }
::placeholder{
    color: #ffffff;
}
